.toy-preview {
    border-radius: var(--main-br);
    padding: 1.5em;

    background-color: var(--clr-gray--1);
    box-shadow: var(--box-shadow);
}

.toy-preview .toy-name {
    font-size: 2.5em;
    font-family: RobotoBold;
    margin-block-end: 1em;
}

.toy-preview .toy-desc-container {
    gap: 2em;
    margin-block-end: 2em;
}

.toy-preview .toy-price {
    font-size: 2em;
}

.toy-preview .toy-stock {
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: RobotoBold;
    color: var(--clr-in-stock);
}

.toy-preview .toy-stock.out-stock {
    color: var(--clr-out-stock);
}

.toy-preview .toy-img {
    margin-block-end: 1.5em;
}

.toy-preview .actions-container {
    gap: 1.5em;

    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s;
}

.toy-preview:hover .actions-container {
    transform: translateY(0);
    opacity: 1;
}

.toy-preview .actions-container .btn {
    background-color: transparent;
    padding: 0.5em;
}

.toy-preview .actions-container .btn::before {
    font-family: faSolid;
    font-size: 1.6em;
    transition: color 0.4s;
}

.toy-preview .actions-container .btn:hover::before {
    color: var(--main-clr-1);
}

.toy-preview .actions-container .btn.remove::before {
    content: '\f1f8';
}

.toy-preview .actions-container .btn.details::before {
    content: '\f05a';
}

.toy-preview .actions-container .btn.edit::before {
    content: '\f044';
}