.user-msg {
    position: absolute;
    bottom: 1em;
    right: 1em;

    padding: 0.5em 1em;
    border-radius: 2px;

    font-size: 2em;
    color: var(--main-fn-color);
}

.user-msg.success {
    background-color: var(--clr-success);
}

.user-msg.error {
    background-color: var(--clr-error);
}

.user-msg button {
    font-size: 0.8em;
    float: right;
    margin: 0.5em;
}