.about {
    padding: 3em;
    border-radius: var(--main-br);
    background-color: var(--clr-gray--1);
}

.about .about-title {
    font-size: 3em;
    margin-block-end: 1em;
}

.about .greet {
    margin-block-end: 1em;
    font-size: 2em;
    color: var(--main-clr-1);
}

.about .about-desc {
    gap: 1.6em;
    margin-block-end: 3em;
}

.about .about-desc p {
    font-size: 1.6em;
}