.dashboard {
    padding: 1.5em 2em;
    border-radius: var(--main-br);
    background-color: var(--clr-gray--1);
}

.dashboard .dashboard-title {
    font-size: 3.5em;
    font-family: RobotoBold;
    margin-block-end: 1em;
}

.dashboard .chart-title {
    font-size: 2.5em;
    font-family: RobotoBold;
    margin-block-end: 2em;
}

.dashboard .chart-container {
    width: 80%;
    height: 300px;
    margin-block-end: 10em;
}

.dashboard .chart-container.pie {
    width: 50%;
    margin: auto;
    margin-block-end: 10em;
}