.login-signup {
    padding: 4em 0;
    border-radius: var(--main-br);
    background-color: var(--clr-gray--1);
}

.login-signup h1 {
    margin-block-end: 1em;
    font-size: 4em;
    text-align: center;
}

.login-signup button {
    background-color: transparent;
    font-size: 1.3em;
}