.toy-index .btn-add-toy {
    padding: 1em;
    border-radius: var(--btn-br);
    margin-block-end: 1em;

    background-color: var(--clr-gray--1);
    box-shadow: var(--box-shadow);
}

.toy-index .btn-add-toy::before {
    font-family: faSolid;
    content: '\2b';
    font-size: 1.2em;
}

.toy-index .filter-sort-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5em;

    padding: 2em;
    border-radius: var(--main-br);
    margin-block-end: 2em;

    box-shadow: var(--box-shadow);
    background-color: var(--clr-gray--1);
}

.toy-index .filter-sort-container .filter-sort-title {
    grid-column: 1 / -1;

    font-size: 2em;
    font-family: RobotoBold;
}

.toy-index .no-toys-msg {
    text-align: center;
    font-size: 3em;
}