.toy-edit {
    gap: 2em;

    padding-block: 2.5em;
    border-radius: var(--main-br);
    margin-block-start: 3em;

    background-color: var(--main-clr-1);
    box-shadow: var(--box-shadow);
}

.toy-edit h2 {
    font-size: 3em;
}

.toy-edit form {
    gap: 3em;
}

.toy-edit form .inputs-container {
    gap: 2em;
}

.toy-edit form .input-container {
    width: 100%;
    gap: 1.5em;
}

.toy-edit form .input-container.stock {
    justify-content: center;
}

.toy-edit .input-container label {
    font-size: 1.6em;
}

.toy-edit .input-container input {
    padding: 0.3em;
    font-size: 1.4em;
}

.toy-edit .actions-container {
    gap: 1em;
    width: 100%;
}

.toy-edit .actions-container .btn {
    padding: 0.5em;
    border-radius: var(--btn-br);
}

.toy-edit .actions-container .btn.btn-save {
    flex-grow: 1;
    background-color: var(--clr-success);
}