.toy-details {
    padding: 2.5em;
    border-radius: var(--main-br);
    background-color: var(--clr-gray--1);
}

.toy-details .btn-back {
    background-color: transparent;
    margin-block-end: 3em;
}

.toy-details .btn-back::before {
    font-family: faSolid;
    content: '\f060';
    font-size: 1.5em;
}

.toy-details .main-container {
    gap: 2em;
    margin-block-end: 3em;
}

.toy-details .details-container {
    gap: 1em;
}

.toy-details .toy-name {
    font-size: 3em;
}

.toy-details .toy-price {
    font-size: 2em;
}

.toy-details .toy-labels {
    gap: 1em;
}

.toy-details .toy-labels .label {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--main-clr-base);
}

.toy-details .toy-desc {
    font-size: 1.6em;
    line-height: 1.6em;
    text-align: justify;
}

.toy-details .toy-stock {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--clr-in-stock);
}

.toy-details .toy-stock.out-stock {
    color: var(--clr-out-stock);
}

.toy-details .toy-msgs form {
    gap: 0.5em;
    margin-block-end: 1.5em;
}

.toy-details .toy-msgs form .msg-input {
    padding: 0.5em;
    border: 1.5px solid var(--clr-gray-1);
    font-family: inherit;
    width: 30%;
}

.toy-details .toy-msgs form .btn-add-msg {
    width: 4em;
    border: 1.5px solid var(--clr-gray-1);

    font-size: 1.6em;
    background-color: var(--clr-login-btn);
    color: var(--clr-gray--1);
}

.toy-details .toy-msgs .msgs-title {
    font-size: 2em;
    margin-block-end: 0.5em;
}

.toy-details .toy-msgs ul {
    gap: 0.8em;
}

.toy-details .toy-msgs .toy-msg {
    font-size: 1.6em;
}

.toy-details .toy-msgs .toy-msg .msg-txt {
    font-size: 1em;
}

.toy-details .toy-msgs .toy-msg .msg-by {
    font-size: 0.8em;
    color: var(--clr-gray-1);
}