:root {
    --main-fn-color: #202124;

    --main-clr-1: rgb(251, 193, 85);
    --main-clr-base: rgb(255, 206, 114);
    --main-clr--1: rgb(255, 223, 165);

    --clr-gray-1: #c4c4c4;
    --clr-gray-base: #f6f6f6;
    --clr-gray--1: #fbfbfb;

    --clr-success: rgb(152, 232, 152);
    --clr-error: rgb(243, 150, 150);

    --clr-in-stock: rgb(41, 209, 41);
    --clr-out-stock: rgb(243, 64, 64);

    --clr-active-link: #df6767;
    --clr-login-btn: #0866ff;

    --main-br: 10px;
    --btn-br: 7px;

    --box-shadow: 1px 7px 8px 1px rgba(170, 170, 170, 0.4);
}