.main-layout {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}

.main-layout>* {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1 / -1;
}

.list-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
}